body {
  margin: 0;
  padding: 0;
  font-family: "Lato", "Roboto", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

svg {
  margin-right: 10px;
  font-size: 14px;
}

.title.row{
  background-color: lightblue;
  color: #fff;
}

.title.row .navbar-brand{
  color: #fff;
}

.pwd-title a{
  min-width: 120px;
  font-weight: bold;
  color: darkblue !important
}

.node, .node *{
  font-size: 18px;
}

.jumbotron p{
  font-weight: normal;
}

.node .title{
  cursor: pointer;
}